html {
    max-width: 950px;
    margin: auto;
 font-size: 15px;

 
  }
  body{
    background-color:#4F4444;
    padding: 20px;
    max-width: 1280px;
    height: 800px;
    
  }
  main{
    border: wheat;
    border-style: solid;
    margin: 0.6em;
    padding: 10px;
    text-align: center;
    max-width: 1000px;
    height: 1000px;
    text-align: left;    
    font-size: 15px;
    
    
  }

  
h1{
    text-align: center;
    font-size: 40px;
    margin: 0;
    color: #12FF90;
}

h2{
  text-align: center;
  font-size: 20px;
  margin: 2px;

}
h3,h4,h5,h6{
  text-align: center;
  font-size: 20px;
  background-color: #525485;
  color: #12FF90;
}

p{
  margin:0 ;
  color: white;
}

.quote{
   
    text-align: center;
    margin: 12px;
    color: white;
    font-size: 15px;
    
}

footer{
    text-align: center;
    background-color: #525485;
    padding: 10px;
  height: 80px;
  width: 870px;
  font-size: 20px;}
.footer{
  color: #12FF90;
margin: 50px;

}
.footerimage{
  width: 75px;
    float: left;
    margin: 4px;
}
/*Nav*/

ul{
    padding: 10px 16px;
    list-style: none;
    text-align: center;
    
  }
  
  /* Display list items side by side */
  ul li {
    display: inline;
    font-size: 18px;
    text-align: center;
  }
  
  
  /* Add a color to all links inside the list */
  ul li a {
    color: #12FF90;
    text-decoration: none;
    padding: 5px
  }

  a:hover {
    background-color: #4F4444;
    color: white;
  }

  header{
    background-color:  #525485;
    
  }
  .logo{
    width: 95px;
    float: left;
    margin: 4px;
  }


  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }



  